.grid-container {
    display: grid;
    grid-template-columns: 20% 1fr; /* El 30% para el sidenav y el resto para el students-page */
    grid-gap: 20px; /* Espacio entre las columnas */
  }
  
  .sidenav {
    border-right: 2px solid black; /* Borde a la derecha */
    height: 100vh; /* Altura del sidenav */
  }
  
  .students-page {
    display: flex;
    justify-content: center; /* Centra el contenido horizontalmente */
    padding-top: 20px; /* Espacio interno en la parte superior para separar el contenido del borde superior */
    height: 100vh; /* Altura del students-page */
    /* Estilos adicionales para el students-page, si es necesario */
  }
  